<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.apex.samples.NewTestNG2"/>
      <class name="com.apex.samples.NewTestNG3"/>
      <class name="com.apex.samples.NewUserAPITest_NG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
